<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    <bean id="getUser" class="com.inspur.pojo.User">
        <property name="name" value="zhangsan"></property>
        <property name="age" value="12"></property>
    </bean>

</beans>
